<div class="card light-blue darken-4 large-widget">
  <div class="card-content white-text">
    <p class="text-left font-weight-300 widget-badge-title">Live Streaming <span class="japri_badge badge" ng-class="(c.loadingLiveStream) ? 'orange' : (c.isServerStreaming) ? 'green' : 'red'">{{(c.loadingLiveStream) ? "Loading" : (c.isServerStreaming) ? "On" : "Off" | uppercase}}</span></p>
    <br/>
    <div ng-show="!c.imgLoaded || !c.isStreaming || !c.isServerStreaming" class="valign-wrapper img-bg-placeholder">
    	<div class="img-placeholder"></div>
        <div class="valign center" style="width: 100%;">
          	<i ng-show="!c.isStreaming || !c.isServerStreaming" class="material-icons color-white">videocam_off</i>
          	<i ng-show="c.imgLoadError" class="material-icons color-white">error_outline</i>
          	<p class="color-white" ng-show="c.imgLoadError">Image is broken</p>
          	<p class="color-white" ng-show="!c.isServerStreaming">Server is not streaming</p>
          	<div ng-show="!c.imgLoaded && !c.imgLoadError && c.isStreaming && c.isServerStreaming" class="loader-inner ball-pulse">
    			<div class="background_color-japri"></div>
    			<div class="background_color-japri"></div>
    			<div class="background_color-japri"></div>
    		</div>
          </div>
    </div>
    <img ng-show="c.imgLoaded && c.isStreaming && c.isServerStreaming" img-loading img-loaded="c.imgLoaded" img-load-error="c.imgLoadError" class="responsive-img" data-ng-src="{{c.liveStreamUri}}"/>
  </div>
</div>