<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3>Chat</h3>
			<p>Connected clients:</p>
			<div class="chip margin-all-5" ng-repeat="user in c.Users">
				{{user}}
			</div>
			<ul class="collection chat-box" scroll-to-bottom scroll-glue>
				<li class="collection-item" ng-class="(chat.me)?'text-right':'text-left'" ng-repeat="chat in c.Chats track by $index">
					{{(chat.from) ? chat.from : 'Me'}}: {{chat.message}}
				</li>
			</ul>
			<div class="collection-item chat-input">
				<form class="chat-form" ng-submit="c.SendMessage()">
					<input type="text" ng-model="c.chat" placeholder="Send message"/>
					<a type="submit" ng-click="c.SendMessage()" class="secondary-content chat-send-button"><i class="material-icons">send</i></a>
				</form>
			</div>
		</div>
	</div>
</div>
